.item-detail {
  .item-wrapper {
    padding: 20px 60px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .left-side {
      width: 70%;
      margin-right: 20px;

      @media screen and (max-width: 800px) {
        width: 100%;
        margin-right: 0px;
      }

      .item-name {
        font-weight: bold;
        padding: 20px 0px;
      }

      .item-image {
        max-width: 100%;
      }
    }

    .right-side {
      width: 30%;

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}
