@import '../../styles';

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .title {
    margin: 0px;
    color: $secondary-color;
  }

  .form {
    width: 400px;

    button {
      margin-bottom: 20px;
    }
  }
}
